{% extends "projects/base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <ol class="breadcrumb" aria-label="breadcrumbs">
     <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
     <li class="breadcrumb-item active" aria-current="page"><a href="#">{{page_title}}</a></li>
  </ol>
{% endblock breadcrumbs %}


{% block content %}

  <p>
    {% blocktrans trimmed %}
    A project is a set of one or more surveys. You can only create or modify a survey once
    you've created a project for it.
    {% endblocktrans %}
  </p>

  {# Start: Projects list #}
  {% if projects %}
    <p class="mt-4">
      {% blocktrans %}Select from your projects below or create a new one.{% endblocktrans %}
    </p>

    <div class="row my-4">
      <div class="col-md-7">
        <form>
          <div class="input-icon">
            <span class="input-icon-addon">
              <i class="fas fa-search"></i>
            </span>
            <input type="search" name="q" value="{{ request.GET.q }}" class="form-control d-inline-block mr-3" placeholder="{% trans 'Search projects…' %}"/>
            <span class="input-icon-addon">
              <i class="fas fa-cancel"></i>
            </span>
          </div>
        </form>
      </div>

      <div class="col pr-3">
        <a href="{% url 'projects:project-create' %}" class="btn btn-success ml-3 d-none d-sm-inline-block float-md-right">
          <i class="fas fa-plus"></i>
          {% trans 'New Project' %}
        </a>
        {% if request.GET.q %}
        <a href="{% url 'projects:project-list' %}" class="btn btn-warning">
           {% trans 'Clear Search' %}
        </a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      {% for project in projects %}
        {% include 'projects/includes/project_item.html' %}
      {% endfor %}
    </div>
  {# End: Projects list #}

  {# Start: Empty Projects state #}
  {% else %}
    <div class="container text-center">
      <p class="h2 mb-3 mt-5">
        {% trans 'No projects found.' %}
      </p>

      <p class="h4 text-muted font-weight-normal mb-5">{% trans 'Start by creating new project.' %}</p>
      <div>
        <a href="{% url 'projects:project-create' %}" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
           {% trans 'New Project' %}
        </a>
        {% if request.GET.q %}
          <a href="{% url 'projects:project-list' %}" class="btn btn-warning">
             {% trans 'Clear Search' %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {# End: Empty Projects state #}

{% endblock content %}
