{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="text-center pt-3">
    <h1 class="text-muted">{% trans 'Register' %}</h1>

    <p class="text-muted">
      {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
  </div>

  <div class="col-md-4 mx-auto">
    <form class="login" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="">
          <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
  {% include 'includes/footer.html' with footer_class="col-lg-6 col-md-10 mx-auto mt-2" %}
{% endblock footer %}
