{% extends 'layout_master_detail.html' %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content_master %}
  <h2>{% trans 'Filter respondents' %}</h2>

  <form id="master-filter" method="GET">
    {{ filter.form|crispy }}
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-success btn-sm">{% trans 'Apply filters' %}</button>
      <a href="{% url 'respondents:respondent-list' %}" class="btn btn-secondary btn-sm">{% trans 'Reset filters' %}</a>
    </div>
  </form>
{% endblock %}


{% block content_detail %}
  <div class="my-4">
    {% blocktrans trimmed %}
      Browse, add, and select respondents, and then choose an action for the selected respondents.
    {% endblocktrans %}
  </div>

  <div class="row my-4">
    <div class="col-sm">
      <form>

        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="fas fa-search"></i>
          </span>
          <input type="search"
                 name="q"
                 value="{{ request.GET.q }}"
                 class="form-control d-inline-block w-9 mr-3"
                 placeholder="{% trans 'Search respondents…' %}"/>
        </div>

      </form>
    </div>

    <div class="col-sm-auto pr-3">
      <a class="btn btn-warning btn-sm action-export-csv mx-3" href="#">{% trans 'Export table' %}</a>

      <span class="text-muted">
        {% trans 'Respondents found' %}:
        <span class="badge badge-pill badge-dark">{{ paginator.count }}</span>
      </span>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered small">
      <thead>
          <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Email' %}</th>
            <th>{% trans 'First name' %}</th>
            <th>{% trans 'Last name' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Survey' %}</th>
            <th>{% trans 'Status' %}</th>
          </tr>
      </thead>
      <tbody>
        {% for respondent in respondents %}
          <tr>
            <td>{{ respondent.id }}</td>
            <td>{{ respondent.email }}</td>
            <td>{{ respondent.first_name }}</td>
            <td>{{ respondent.last_name }}</td>
            <td>{{ respondent.gender.code }}</td>
            <td>{{ respondent.survey.name }}</td>
            <td>{{ respondent.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content_detail %}


{% block extra_js %}
  {# FIXME: move this to js files #}
  <script>
    $('#div_id_q').hide();
  </script>
{% endblock extra_js %}
