{% load i18n %}


<div class="col-md-6 col-lg-4">
  <div class="card">
    <div class="card-body">
      <div class="border-bottom border-success pb-3">
        <h2 class="mb-0">
          <a href="{% url 'projects:project-detail' project.pk %}">{{ project.name }}</a>
        </h2>

        <div>
          {{ project.description }}
        </div>
      </div>

      <div class="mt-3">
        <div class="btn-list text-right">
          <a href="{% url 'projects:project-detail' project.pk %}" class="btn btn-success btn-sm">
            {% trans 'View' %}
          </a>

          <a href="{% url 'projects:project-update' project.pk %}" class="btn btn-primary btn-sm">
            {% trans 'Edit' %}
          </a>

          <a href="{% url 'projects:project-delete' project.pk %}" class="btn btn-danger btn-sm">
            {% trans 'Delete' %}
          </a>
        </div>
      </div>
    
    </div>
  </div>
</div>
