.navbar-light {
  background: #d8e6e6;

  .navbar-brand {
    width: 25%;
    text-align: left;
    position: relative;
    left: 0px;
    float: left;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    color: #075254 !important;
    text-transform: uppercase;
    line-height: 3em;
    letter-spacing: 1px;
  }

  .navbar-nav .nav-link {
    color: #098b8e !important;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #d8e6e6;
  width: 100%;
  border-top: 2px solid #99b83c;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #075254;
  padding: $content-padding-y !important;

  .logo {
    max-height: 40px;
    width: auto;
    padding-right: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: middle;
  }
}
