{% load static %}
{% load i18n %}


<footer class="footer">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 mb-2">
          Developed by
          <a href="https://www.irex.org/" class="link-secondary" target="_blank">
            <img src="{% static 'images/irex-logo.png' %}" class="logo">
          </a>

          With support from
          <a href="http://dcli.co/" class="link-secondary" target="_blank">
            <img src="{% static 'images/dcli-logo.png' %}" class="logo">
          </a>
        </div>
      </div>
      <div class="text-center smaller">
        {% blocktrans trimmed %}
        This software is available under an <a href="#">open source license</a>. Find the source code:
        <a href="https://github.com/IREXorg/data-compass" target='blank_'>here</a>
        {% endblocktrans %}
      </div>
    </div>
</footer>
