{% load static %}

<footer class="footer">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 mb-3">
          Developed by
          <a href="https://www.irex.org/" class="link-secondary" target="_blank">
            <img src="{% static 'images/irex-logo.png' %}" class="logo">
          </a>

          With support from
          <a href="http://dcli.co/" class="link-secondary" target="_blank">
            <img src="{% static 'images/dcli-logo.jpg' %}" class="logo">
          </a>
        </div>
      </div>
    </div>
</footer>
