{% load static %}
{% load i18n %}


<footer class="footer">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 mb-2">
          {% for logo in footer_logos %}
            <a href="https://www.irex.org/" class="link-secondary" target="_blank">
              <img src="{{ logo.image_thumbnail.url }}" class="logo">
            </a>
          {% endfor %}

          Developed by
          <a href="https://www.irex.org/" class="link-secondary" target="_blank">
            <img src="{% static 'images/irex-logo.png' %}" class="logo">
          </a>

          With support from
          <a href="http://dcli.co/" class="link-secondary" target="_blank">
            <img src="{% static 'images/dcli-logo.png' %}" class="logo">
          </a>
        </div>
      </div>

      <div class="text-center">
        <div class="small">
          {% blocktrans trimmed %}
            View our <a href="https://www.irex.org/policies-data-compass-website" target="_blank">Responsible Data Policy</a>.
          {% endblocktrans %}
        </div>

        <span class="smaller">
        {% blocktrans trimmed %}
        This software is available under an <a href="https://github.com/IREXorg/data-compass/blob/master/LICENSE" target="blank_">open source license</a>. Find the source code:
        <a href="https://github.com/IREXorg/data-compass" target='blank_'>here</a>
        {% endblocktrans %}
        </span>
      </div>
    </div>
</footer>
