{% load i18n %}


<nav class="navbar navbar-expand-lg navbar-primary navbar-light" id="navbar-primary">
  <div class="container">
    <a href="." class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal">
      <img src="./static/logo.svg" alt="Logo" class="navbar-brand-logo navbar-brand-logo-large">
      <img src="./static/logo-small.svg" alt="Logo" class="navbar-brand-logo navbar-brand-logo-small">
    </a>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>

  <div class="navbar-collapse">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'projects:project-list' %}" class="nav-link">
            My Projects
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" data-toggle="dropdown">
            <i class="fas fa-user-circle fa-2x text-primary"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'users:profile-detail' %}">
                  <span class="text-primary">{{ user.email|default:user.username }}</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt text-muted mr-2"></i> {% trans 'Sign Out' %}</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'account_login' %}">
            {% trans 'Sign In' %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
