{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-primary navbar-light py-2" id="navbar-primary">
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand navbar-brand-autodark">
      Data Compass
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">'
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'projects:project-list' %}" class="nav-link">
            My Projects
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" data-toggle="dropdown">
            <i class="fas fa-user-circle fa-2x text-primary"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'users:profile-detail' %}">
                  <span class="text-primary">{{ user.email|default:user.username }}</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt text-muted mr-2"></i> {% trans 'Sign Out' %}</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'account_login' %}">
            {% trans 'Sign In' %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
