<nav class="navbar navbar-expand-lg navbar-primary navbar-vertical navbar-dark" id="navbar-primary">
  <div class="container">
    <a href="." class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal">
      <img src="./static/logo.svg" alt="Logo" class="navbar-brand-logo navbar-brand-logo-large">
      <img src="./static/logo-small.svg" alt="Logo" class="navbar-brand-logo navbar-brand-logo-small">
    </a>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./index.html" >
            <span class="nav-link-icon"><i class="fa fa-home"></i></span>
            <span class="nav-link-title">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-toggle="dropdown" role="button"
   aria-expanded="false" >
            <span class="nav-link-icon">
              <i class="fa fa-poll-h"></i>
            </span>
            <span class="nav-link-title">Users</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-columns  dropdown-menu-columns-2">
            <li >
              <a class="dropdown-item" href="#" >
                List
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" >
                Roles
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
