{% extends "surveys/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
  <form method="POST" action="">
    {% csrf_token %}

    {% block form_intro %}{% endblock %}

    {% block form_fields %}{{ form|crispy }}{% endblock %}

    {% block form_buttons %}
      <div class="my-3">
        <a href="{{ back_url_path }}" class="btn btn-warning">
          «« {% trans 'Back' %}
        </a>

        <button class="btn btn-success" type="submit">
          {% trans 'Save and Continue' %} »
        </button>
      </div>
    {% endblock form_buttons %}
  </form>
{% endblock %}
