{% extends "surveys/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
  <div class="overflow-auto bg-light border col-sm-8 mb-3" style="height: 200px">
    {{ survey.description|linebreaks }}
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="my-3">
      <a href="{% url 'users:profile-detail' %}" class="btn btn-warning">
        «« {% trans 'Quit' %}
      </a>

      <button class="btn btn-success" type="submit">
        {% trans 'Continue' %} »
      </button>
    </div>
  </form>
{% endblock %}
