{% extends 'surveys/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{# Start: Breadcrumbs #}
{% block breadcrumbs %}
<ol class="breadcrumb" aria-label="breadcrumbs">
   <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">{% trans 'My Projects' %}</a></li>
   <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' survey.project.pk %}">{{survey.project.name}}</a></li>
   <li class="breadcrumb-item active" aria-current="page"><a href="#">{{survey.name}}</a></li>
</ol>
{% endblock %}
{# End: Breadcrumbs #}

{# Start: Page header #}
{% block page_header %}
<div class="page-header">
  <div class="row align-items-center">

    {# Start: Page title #}
    <div class="col">
      <h1 class="page-title">
        {% block page_title %}{{ survey.name }}{% endblock %}
      </h1>
    </div>
    {# End: Page title #}

    {# Start: Page actions #}
    <div class="col-auto ml-auto d-print-none">
      <div class="row">
        &nbsp;
      </div>
    </div>
    {# End: Page actions #}

  </div>
</div>
{% endblock %}
{# End: Page header #}

{# Start: Content #}
{% block content %}
<div class="row">
  <div class="col">
    <div class="text-wrap">
      <p>{% trans 'This survey is part of' %} {{survey.project.name}} project. {% trans 'More detail about it are written heres' %}.</p>
      <p>{% trans 'What would you like to do with the survey' %}</p>
    </div>
    <div class="btn-list mt-5">
      {# TODO: urls; publish #}
      <a href="{% url 'surveys:survey-edit-start' survey.pk %}" class="btn btn-primary">{% trans 'Edit Survey' %}</a>
      {% if survey.is_active %}
      <a href="{% url 'surveys:survey-unpublish' survey.pk %}" class="btn btn-secondary">{% trans 'Unpublish Survey' %}</a>
      {% else %}
      <a href="{% url 'surveys:survey-publish' survey.pk %}" class="btn btn-success">{% trans 'Publish Survey' %}</a>
      {% endif %}
      <a href="{% url 'surveys:survey-delete' survey.pk %}" class="btn btn-warning">{% trans 'Delete Survey' %}</a>
    </div>
  </div>
</div>
{% endblock %}
{# End: Content #}
