{% extends 'surveys/base.html' %}


{% load i18n %}


{# Start: Page actions #}
{% block page_actions %}
<div class="col-auto ml-auto d-print-none">
  <input type="search" class="form-control d-inline-block w-9 mr-3" placeholder="{% trans 'Search surveys…' %}"/>
  <a href="{% url 'surveys:survey-create' %}" class="btn btn-primary ml-3 d-none d-sm-inline-block">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>

    {% trans 'New Survey' %}
  </a>
</div>
{% endblock%}
{# End: Page actions #}

{# Start: Page content #}
{% block content %}
{# Start: Survey list #}
<div class="row">
  {% if surveys|length == 0 %}
  <div class="container d-flex flex-column justify-content-center">
    <div class="empty">
      <p class="empty-title h3">No results found</p>
      <p class="empty-subtitle text-muted">
      Try adjusting your search or filter to find what you're looking for.
      </p>
      <div class="empty-action">
        <a href="./." class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
          Add your survey
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  {% for survey in surveys %}
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="row row-sm align-items-center">
          <div class="col-auto">
            <span class="avatar avatar-md rounded">
              {{ survey.abbreviation }}
            </span>
          </div>
          <div class="col">
            <h3 class="mb-0"><a href="#">{{ survey.name }}</a></h3>
            <div class="text-muted text-h5">{{ survey.display_name }}</div>
          </div>
          <div class="col-auto lh-1 align-self-start">
            {% if survey.is_active %}
            <span class="badge bg-gray-lt">{% trans 'Un-published' %}</span>
            {% else %}
            <span class="badge bg-green-lt">{% trans 'Published' %}</span>
            {% endif %}
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-auto">
            <div class="btn-list">
              <a href="{% url 'surveys:survey-delete' survey.pk %}" class="btn btn-danger btn-sm">
                {% trans 'Delete' %}
              </a>
              <a href="{% url 'surveys:survey-update' survey.pk %}" class="btn btn-secondary btn-sm">
                {% trans 'Edit' %}
              </a>
            </div>
          </div>
          <div class="col-auto ml-auto">
            <div class="dropdown">
              <button class="btn-options" type="button" data-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">
                  Publish
                </a>
                <a class="dropdown-item" href="#">
                  Duplicate
                </a>
                <a class="dropdown-item" href="#">
                  Translate
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{# Start: Pagination #}
{% if is_paginated %}
<div class="d-flex">
  <ul class="pagination ml-auto">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_previous %}?{% url 'surveys:survey-list' %}?page={{ page_obj.previous_page_number }}{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><polyline points="15 18 9 12 15 6"></polyline></svg>{% trans 'Previous' %}</a>
    </li>

    {% for page_number in paginator.page_range %}
    <li class="page-item {% if page_obj.number == page_number %}active{% endif %}">
      <a class="page-link" href="{% url 'surveys:survey-list' %}?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}{% url 'surveys:survey-list' %}?page={{ page_obj.next_page_number }}{% endif %}">{% trans 'Next' %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
    </li>
  </ul>
</div>
{% endif %}
{# End: Pagination #}
{# End: Survey list #}

{% endblock %}
{# End: Page content #}
