{% extends 'surveys/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
  <ol class="breadcrumb" aria-label="breadcrumbs">
     <li class="breadcrumb-item"><a href="{% url 'projects:project-list' %}">{% trans 'My Projects' %}</a></li>
     <li class="breadcrumb-item"><a href="{% url 'projects:project-detail' survey.project.pk %}">{{survey.project.name}}</a></li>
     <li class="breadcrumb-item active" aria-current="page"><a href="#">{{survey.name}}</a></li>
  </ol>
{% endblock breadcrumbs %}


{% block page_header %}
  <div class="page-header">
    <div class="row align-items-center">

      {# Start: Page title #}
      <div class="col">
        <h1 class="page-title">
          {% block page_title %}{{ survey.name }}{% endblock %}
        </h1>
      </div>
      {# End: Page title #}

      {# Start: Page actions #}
      <div class="col-auto ml-auto d-print-none">
        <div class="row">
          &nbsp;
        </div>
      </div>
      {# End: Page actions #}

    </div>
  </div>
{% endblock page_header %}


{% block content %}
  <div class="row">
    <div class="col">
      <div class="text-wrap">
        <p class="text-muted">{% trans 'This survey is a part of project' %} <a href="{% url 'projects:project-detail' survey.project.pk %}">{{ survey.project.name }}</a>.</p>

        <div>
          <h2 class="small">Description</h2>
          {{ survey.description|linebreaks }}
        </div>
      </div>

      <p class="text-muted">{% trans 'Please select an option:' %}</p>

      <div class=" mt-5">
        <a href="{% url 'surveys:survey-edit-start' survey.pk %}" class="btn btn-primary">{% trans 'Edit Survey' %}</a>

        {% if survey.is_active %}
          <a href="{% url 'surveys:survey-unpublish' survey.pk %}" class="btn btn-secondary">{% trans 'Unpublish Survey' %}</a>
          <a href="{% url 'surveys:survey-share' survey.pk %}" class="btn btn-info">{% trans 'Share Survey' %}</a>

          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Export responses' %}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'responses:dataset-shared-list' survey.pk %}">{% trans 'Entities & information shared to' %}</a>
              <a class="dropdown-item" href="{% url 'responses:dataset-received-list' survey.pk %}">{% trans 'Entities & information received from' %}</a>
              <a class="dropdown-item" href="{% url 'responses:dataset-storage-access-list' survey.pk %}">{% trans 'Information storage & access' %}</a>
              <a class="dropdown-item" href="{% url 'responses:dataset-response-list' survey.pk %}">{% trans 'Information encounter frequency' %}</a>
            </div>
          </div>
        {% else %}
          <a href="{% url 'surveys:survey-publish' survey.pk %}" class="btn btn-success">{% trans 'Publish Survey' %}</a>
        {% endif %}

        <a href="{% url 'surveys:survey-delete' survey.pk %}" class="btn btn-warning">{% trans 'Delete Survey' %}</a>
      </div>
    </div>
  </div>
{% endblock content %}
