{% extends 'surveys/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{# Start: Page header #}
{% block page_header %}
<div class="page-header">
  <div class="row align-items-center">

    {# Start: Page title #}
    <div class="col">
      <h1 class="page-title">
        {% block page_title %}{{ page_title }}{% endblock %}
      </h1>
    </div>
    {# End: Page title #}

    {# Start: Page actions #}
    <div class="col-auto ml-auto d-print-none">
      <div class="row">
        &nbsp;
      </div>
    </div>
    {# End: Page actions #}

  </div>
</div>
{% endblock %}
{# End: Page header #}

{# Start: Page content #}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-sm-12">
    <p class="text-muted">
    {% blocktrans trimmed %}
    Whom will you invite to take your survey?
    {% endblocktrans %}
    </p>

    {% if respondents %}
    <p class="mt-4">
    {% blocktrans %}
    Confirm list of respondents or you can
    {% endblocktrans %}
    <a href="{% url 'respondents:respondent-list' %}">go back</a>.
    </p>

    <div class="row">
      <div class="table-responsive ">
        <table class="table table-vcenter table-bordered">
          <thead>
            <th>Respondent name</th>
            <th>Email</th>
          </thead>
          <tbody>
            {% for respondent in respondents %}
            <tr>
              <td>
                {{ respondent.first_name }} {{ respondent.last_name }}
              </td>
              <td>
                <a href="#" class="text-reset">
                  {{ respondent.email }}
                </a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {# End: respondents list #}

    {% endif %}

    <hr>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group mb-3 ">
        <label class="form-label">Select survey</label>
        <div>
          <select class="form-select">

            {% for survey in surveys %}
            <option value={{ survey.id }}>{{ survey.name }}</option>
            {% endfor %}

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">
            {% trans 'Send invite' %}
          </button>

          <a href="#" class="btn btn-secondary">
            {% trans 'Cancel' %}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{# End: Page content #}
