{% load i18n %}
{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% trans 'Data Compass' %} · {% block head_title %}{{ page_title }}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link href="{% static 'main.css' %}" rel="stylesheet">
  </head>

  <body class="antialiased {% block body_class %}{% endblock %}">
      {% block body %}{% endblock %}

      <script src="{% static 'main.js' %}"></script>
      <script src="{% static 'js/site.js' %}"></script>\

      {{ form.media.js }} {# Select2 js #}

      <!-- Google analytics -->
      <script type="text/javascript">
        // Place google analytics scripts here.
      </script>
      {% block extra_js %}{% endblock %}
  </body>
</html>
