{% extends 'layout.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Welcome' %}{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Data Compass</h1>
  <p class="lead">Collect and visualize information about dataflows.</p>
  <hr class="my-4">
  {% if user.is_authenticated %}
  <p>Check your profile.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'users:profile-detail' %}" role="button">My Profile</a>
  {% else %}
  <p>Please login or sign up to continue.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Sign In</a> or
  <a class="btn btn-outline-success btn-lg" href="{% url 'account_signup' %}" role="button">Register</a>
  {% endif %}
</div>
{% endblock content %}
