{% extends 'base.html' %}

{% block body %}
{# Start: Page #}
<div class="page">

  {# Start: Include Navbar Primary #}
  {# {% include 'includes/nav_primary.html' %} #}
  {# End: Include Navbar Primary #}

  {# Start: Include Navbar Secondary #}
  {% include 'includes/navbar_secondary.html' %}
  {# End: Include Navbar Secondary #}

  {# Start: Page Content #}
  <div class="content">

    {# Start: Page Container #}
    <main class="container">

      {# Start: Page Header #}
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col-auto">
            <h1 class="page-title">
              {% block page_title %}{{ page_title }}{% endblock %}
            </h1>
          </div>
        </div>
      </div>
      {# End: Page Header #}

      {# Start: Main Content #}
      {% block content %}{% endblock %}
      {# End: Main Content #}

    </main>
    {# End: Page Container #}

  </div>
  {# End: Page Content #}

</div>
{# End: Page #}
{% endblock body %}
