{% load i18n %}

<div>
  <p>
    {% blocktrans trimmed %}
    As a Facilitator, you can create and edit Survey(s) within the Project(s) asigned to you by an Administrator.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
    Click below to view your projects. If you would like to start a new one, contact the Administrator.
    {% endblocktrans %}
  </p>
  <div class="col-sm-8 mx-auto text-center">
    <p><a href="{% url 'projects:project-list' %}" class="btn btn-primary btn-block">{% trans 'My projects' %}</a></p>
    <p><a href="#" class="btn btn-primary btn-block">{% trans 'Manage respondents' %}</a></p>
    <p><a href="#" class="btn btn-primary btn-block">{% trans 'Manage responses' %}</a></p>
  </div>
</div>
