{% load i18n %}

<div>
  <p>
    {% blocktrans trimmed %}
    As a Respondent with an account, you can return to surveys in progress and view your previous survey responses.
    {% endblocktrans %}
  </p>

  <div class="mx-1">

    <h2>{% trans 'My Surveys' %}</h2>

    <p class="text-muted">
      {% blocktrans %}Click to continue with further action.{% endblocktrans %}
    </p>

    {% for survey in respondent_surveys %}
      {% include 'surveys/includes/user_survey_item.html' %}
    {% endfor %}
  </div>
</div>
